<h1>LET'S PLAY!</h1>

<p>PLAYER ONE PICK:</p>
  <li><b>rock/</b></li>
  <li><b>paper/</b></li>
  <li><b>scissors/</b></li>

<p>PLAYER TWO PICK:</p>
  <li><b>rock/</b></li>
  <li><b>paper/</b></li>
  <li><b>scissors/</b></li>

</br>
</br>

<p> Add your selection to the search bar to find out the winner!</p>
